#header {
	display: flex;
	width: 100%;
	height: 50px;
	color: #fff;
	background-color: #000;
	font-size: 18px;
}

#header-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;

	> li {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
	}

	> li:not(:last-child) {
		border-right: 1px solid gray;
	}
}

.header-menu-text {
	margin-left: 12px;
}

.header-menu-language {
	position: relative;
	flex: 0.5;

	> button {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		padding: 0 20px;
		color: #fff;
		font-size: 18px;
		cursor: pointer;
		white-space: nowrap;

		> p {
			width: 55px;
			text-align: left;
		}

		> img {
			margin-left: 20px;
		}
	}
}

.header-menu-language-list {
	position: absolute;
	display: flex;
	flex-direction: column;
	width: 100%;
	top: 50px;
	background-color: #fff;
	border: 1px solid #000;
	z-index: 1;

	> button {
		padding: 10px;
		cursor: pointer;
	}

	> button:hover {
		background-color: #ddd;
	}
}

.header-menu-call {
	color: #fff;
	cursor: pointer;

	> button {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		color: #fff;
		cursor: pointer;

		> p {
			margin-left: 12px;
		}
	}
}

.header-menu-bill {
	color: gray;

	> p {
		margin-left: 12px;
	}
}

.header-menu-shopping {
	color: gray;

	> p {
		margin: 0 12px;
	}
}

.header-menu-shopping .menu-shopping-count {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	color: #bbb;
	background-color: gray;
}

.header-menu-table {
	flex: 0.5;
	padding: 0 20px;
}

.menu-table-number {
	margin-left: 12px;
	font-size: 28px;
	font-weight: bold;
}
